.DateInput {
    background-color: #fff;
}
.DateInput_input {
    background-color: #fff;
    color: #636262;
}
.DateRangePickerInput {
    background-color: #fff;
}
.css-4x0t7p {
    background-color: #fff !important;
}
.css-1aozte7 {
    width: '100%';
}
.css-1uq0kb5 {
    width: '100%';
}